/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 

}




/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    
}





/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}



/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 360px) and (max-width: 640px) { 
    .slideritem h2 {font-size: 30px;}
    .slideritem p {font-size: 23px;}
    #slider_section {padding: 15px 0px;}
}