/* Large devices (desktops, 992px and up) */
@media only screen and (min-width:992px) and (max-width:1200px) {
	
	/*=====================================================
                   service
======================================================*/
.features{
    padding: 40px 25px 25px 30px !important;
}

.features .service-title h2 {
    font-size: 32px !important;
	font-weight:800 !important;
}
/*=====================================================
                   end-service
======================================================*/
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width:768px) and (max-width:991px) {

/*=====================================================
                    about
======================================================*/
.about-img {
	margin-bottom:60px !important;
}

/*=====================================================
                    about
======================================================*/

	/*=====================================================
                   service
======================================================*/
.features{
    padding: 40px 25px 25px 30px !important;
}

.features .service-title h2 {
    font-size: 32px !important;
	font-weight:800 !important;
}
/*=====================================================
                   end-service
======================================================*/
/*=====================================================
                  skills
======================================================*/
.skills{
	margin-top:40px !important;
}
/*=====================================================
                  end-skills
======================================================*/
/*=====================================================
                 counter
======================================================*/

.count {
	margin-top:40px !important;
}
/*=====================================================
                 end-counter
======================================================*/

}
/* Moblie devices (mobile, 0px to 768px) */
@media only screen and (max-width:767px) {
	
/*=====================================================
                  section-title
======================================================*/

.section-title h2{
	font-size:35px !important;
	margin-bottom:10px !important;
	font-weight:800 !important;
}

.section-title h6{
	font-size:18px !important;
}

/*=====================================================
               end-section-title
======================================================*/
/*=====================================================
                     home
======================================================*/

.banner-text h4 {
 font: 700 20px 'Source Sans Pro', Arial, sans-serif !important;
}

.banner-text h1 {
	font:700 50px 'Source Sans Pro', Arial, sans-serif !important;
}

.banner-text h3{
	 font: 700 25px 'Source Sans Pro', Arial, sans-serif !important; 
}

/*=====================================================
                     end-home
======================================================*/
/*=====================================================
                    about
======================================================*/
.about-img {
	margin-bottom:60px !important
}

.about-header h3{
	font-size:23px !important;
	font-weight:600 !important;
}

.about-contract-details{
	margin-top:0 !important;
}

.about-contract-details{
	display:inline !important;
}

.about-contract-details p{
	margin-top:10px !important;
	margin-right:0 !important;
	text-align:left;
	width:100% !important;
}

.about-button li a.download-button{
	font-size:18px !important;
	font-weight:600 !important;
	margin-right:15px !important;
	padding:12px 25px !important;
}

.about-button li a.message-button{
	font-size:18px !important;
	font-weight:600 !important;
	padding:12px 25px !important;
}
/*=====================================================
                    about
======================================================*/
/*=====================================================
                  skills
======================================================*/
.skills{
	margin-top:40px !important;
}
/*=====================================================
                  end-skills
======================================================*/

/*=====================================================
                   service
======================================================*/
.features{
    padding: 40px 25px 25px 30px !important;
}

.features .service-title h2 {
    font-size: 30px !important;
}
/*=====================================================
                   end-service
======================================================*/

/*=====================================================
                 counter
======================================================*/

.count {
	margin-top:40px !important;
}
/*=====================================================
                 end-counter
======================================================*/
/*=====================================================
                   portfolio
======================================================*/
.portfolio-button .button-group .button {
    margin-right: 5px !important;
}

.portfolio-button .button {
   
    padding: 5px 10px !important;
    font-weight: 500;
	font-size: 13px !important;
}

/*=====================================================
                   end-portfolio
======================================================*/

/*=====================================================
                  testimonial
======================================================*/
.testimonial-text p{
	font-size:25px !important;
}
.testimonial-name-holder p{
	font-size:18px !important;
}

/*=====================================================
                   end-  testimonial
======================================================*/



/*=====================================================
                 blog
======================================================*/
.blog-content{
	margin-top:50px !important;
}

/*=====================================================
                end blog
======================================================*/


/*=====================================================
                contact
======================================================*/
.contact-info{
	margin-top:40px !important;
}
/*=====================================================
                end contact
======================================================*/

}

	

/* Wide Mobile Layout: (480px to 767px) */
@media only screen and (min-width:480px) and (max-width:768px) {
	
	
/*=====================================================
                   service
======================================================*/
.features{
    padding: 40px 25px 25px 30px !important;
}

.features .service-title h2 {
    font-size: 33px !important;
}
/*=====================================================
                   end-service
======================================================*/

	
/*=====================================================
                 counter
======================================================*/

.count {
	margin-top:40px !important;
}
/*=====================================================
                 end-counter
======================================================*/



}


